*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.h1{
    text-align: center;
    font-size: 70px;
    padding: 40px;
    text-decoration: underline;
    font-style: italic;
}
.body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculator{
    background-color: black;
    border-radius: 40px;
    -webkit-box-shadow: 7px 7px 62px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 62px 4px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 62px 4px rgba(0,0,0,0.75);
    padding: 30px;
}

#input{
    height: 200px;
    width: 100%;
    border: none;
    text-align: right;
    padding-right: 0px;
    background-color: transparent;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

button{
    height: 80px;
    width: 80px;
    margin: 5px;
    border-radius: 50%;
    background-color: #2A2A2C;
    color: white;
    font-size: 30px;
    border: none;
    -webkit-box-shadow: 1px 3px 13px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 13px 4px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 13px 4px rgba(0,0,0,0.75);
}
.size{
    width: 175px;
    border-radius: 50px;
}
.equal{
    background-color: #FF9F0A;
}
.colorchange{
    background-color: #5C5C5F;
}
.a{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(90deg, rgb(226, 141, 24) 0%, rgb(142, 135, 129) 100%, rgb(59, 66, 68) 100%);
    -webkit-box-shadow: 1px 3px 13px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 13px 4px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 13px 4px rgba(0,0,0,0.75);
    border-radius: 20px;
    padding: 20px;
}
  

 @media screen and (max-width:600px) 
{
    .calculator{
        background-color: black;
        border-radius: 40px;
        -webkit-box-shadow: 7px 7px 62px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 7px 7px 62px 4px rgba(0,0,0,0.75);
        box-shadow: 7px 7px 62px 4px rgba(0,0,0,0.75);
        padding: 10px;
        width: 61%;
    }
    .h1{
        text-align: center;
        font-size: 40px;
        padding: 40px;
        text-decoration: underline;
        font-style: italic;
    }

    #input{
        height: 150px;
        width: 100%;
        border: none;
        text-align: right;
        padding-right: 30px;
        background-color: transparent;
        color: white;
        font-size: 30px;
        cursor: pointer;
    }
    button{
        height: 40px;
        width: 40px;
        margin: 5px;
        border-radius: 50%;
        background-color: #2A2A2C;
        color: white;
        font-size: 20px;
        border: none;
        -webkit-box-shadow: 1px 3px 13px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 3px 13px 4px rgba(0,0,0,0.75);
        box-shadow: 1px 3px 13px 4px rgba(0,0,0,0.75);
        margin: 5px;
    }
    .size{
        width: 95px;
        border-radius: 50px;
    }
    a{
        text-decoration: none;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        font-size: 20px;
        font-weight: 700;
    }
 }
